.sp-picker-container
{
    width: 480px;
    height: 380px;
}
.sp-picker-container
{
    background-color: black;
    padding: 0px 0px 295px 0px;
}
#comp-irjh4j8timgimage
{
    width: 50px;
    height: 50px;
}
#comp-irjh1z0l1bg, #comp-irjh302u1inlineContent
{
    font-size: 100px;
    text-align:center;
    vertical-align:middle;
}