#comp-irfga970inlineContent, #comp-irhyydxlinlineContent, #comp-irhyyw5iinlineContent, #comp-irpookur1inlineContent, #comp-irxjq407inlineContent
{
    font-size: 100px;
    text-align:center;
    vertical-align:middle;
}

#comp-irfga970inlineContent
{
    line-height: 200px;
}

